@import "../../App.scss";

.weather-section {
    width: 12vw;
    @include border;
    background-color: $black;
    margin: 5vh 2vw;
    color: $white;
    opacity: 0.95;
    @include shadow(#9b999976);
    height: 15vh;
    &:first-child {
        width: 21vw;
        height: auto;
    }
    @media only screen and (min-width: 768px) {
        transition: 0.5s;
        &.expand {
            width: 20vw;
        }
    }
    @media only screen and (max-width: 500px) {
        transition: 0.5s;
        width: 96vw;
        &:first-child {
            width: 96vw;
            min-height: 50vh;
        }
        &.expand {
            height: 35vh;
        }
    }
    .weat-sect-head {
        display: flex;
        justify-content: space-around;
        .weather-icon {
            width: 5vw;
            @media only screen and (max-width: 500px) {
                width: 15vw;
            }
        }
        .city, .day {
            font-size: 1rem;
            padding: 1vh 0.5vw;
        }
    }
    .weather-details {
        display: block;
        .weather-char {
            text-align: center;
            text-transform: capitalize;
        }
        .max-min-temp, .sunrise-sunset {
            display: flex;
            justify-content: space-evenly;
            .weather-char {
                padding: 1rem;
                margin-bottom: 1rem;
                text-align: center;
            }
        }
    }
}
