@import "../../App.scss";

#date-section {
    width: 50vw;
    display: flex;
    justify-content: center;
    #date {
        width: 10vw;
        height: 5vw;
        text-align: center;
        background-color: $black;
        @include border;
        @include shadow(#9b999976);
        font-size: 1.5rem;
        color: $white;
        .date-section {
            width: 10vw;
            height: 2.5vw;
            line-height: 2.5vw;
        }
        @media only screen and (max-width: 1024px) {
            height: 10vw;
        }
        @media only screen and (max-width: 768px) {
            width: 40vw;
            .date-section {
                width: 40vw;
                height: 5vw;
                line-height: 5vw;
            }
        }
        @media only screen and (max-width: 500px) {
            height: 40vw;
            .date-section {
                height: 10vw;
                line-height: 10vw;
            }
        }
    }
}

