@import "../../App.scss";

.weather {
    width: 100vw;
    transition: 0.5s;
    &.condensed {
        width: 25vw;
    }
    .curr-weather {
        display: flex;
        justify-content: space-evenly;
        &.mobile {
            display: block;
        }
    }
    #expand-weather {
        @include border;
        background-color: $black;
        color: $white;
        width: 20vw;
        height: 5vh;
        line-height: 5vh;
        text-align: center;
        font-size: 1.5rem;
        margin: 0 2vw;
        @include shadow(#9b999976);
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
        @media only screen and (max-width: 500px) {
            margin-left: 7.5vw;
            width: 85vw;
        }
    }
}
