@import "../../App.scss";

.welcome-header {
    width: 100vw;
    text-align: center;
    height: 10vh;
    line-height: 10vh;
    font-size: 4rem;
    font-weight: bolder;
    color: $white;
    @include contrast-text;
    @media only screen and (max-width: 500px) {
        font-size: 2rem;
    }
}
