@import "../../App.scss";

#clock-section {
    width: 50vw;
    display: flex;
    justify-content: center;
    #clock-bg {
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        background-color: $black;
        z-index: -1;
        opacity: 0.95;
        @media only screen and (max-width: 500px) {
            width: 40vw;
            height: 40vw;
        }
    }
    #clock {
        width: 10vw;
        height: 10vw;
        text-align: center;
        background: url(./images/clock.svg);
        background-size: cover;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &.analog {
            &::before {
                content: "";
                position: absolute;
                width: 0.5vw;
                height: 0.5vw;
                background-color: $white;
                border-radius: 50%;
                z-index: 10000;
            }
        }
        .hour,
        .min,
        .sec {
            position: absolute;
        }
        .hour,
        .hr {
            width: 3.2vw;
            height: 3.2vw;
        }
        .min,
        .mn {
            width: 3.8vw;
            height: 3.8vw;
        }
        .sec,
        .sc {
            width: 4.6vw;
            height: 4.6vw;
        }
        .hr,
        .mn,
        .sc {
            display: flex;
            justify-content: center;
            position: absolute;
            transition: 500ms ease;
        }
        .hr::before {
            content: "";
            position: absolute;
            width: 0.08vw;
            height: 1.6vw;
            background: #ff105e;
            z-index: 10;
            border-radius: 6px 6px 0 0;
        }
        .mn::before {
            content: "";
            position: absolute;
            width: 0.08vw;
            height: 1.8vw;
            background: $white;
            z-index: 11;
            border-radius: 6px 6px 0 0;
        }
        .sc::before {
            content: "";
            position: absolute;
            width: 0.02vw;
            height: 3vw;
            background: $white;
            z-index: 12;
            border-radius: 6px 6px 0 0;
        }
        @media only screen and (max-width: 500px) {
            width: 40vw;
            height: 40vw;
        }
    }
    .digital {
        font-size: 1.25rem;
        color: rgb(11, 227, 11);
        text-shadow: 1px 1px 3px rgb(9, 150, 9);
        z-index: 10005;
        @include contrast-text;
    }
}
