$black: #0f0f0f;
$grey: #292929;
$white: #d7d4d4;

@mixin day-bg {
    &.sunrise {
        background: linear-gradient(
            180deg,
            rgb(33, 127, 216) 0%,
            rgb(87, 142, 206) 23%,
            rgb(165, 181, 214) 37%,
            rgb(182, 180, 191) 65%,
            rgb(217, 173, 136) 75%,
            rgb(255, 206, 91) 85%,
            rgb(254, 214, 4) 89%,
            rgb(255, 54, 2) 96%,
            rgba(213, 7, 7, 1) 100%
        );
    }
    &.day {
        background: linear-gradient(
            180deg,
            rgb(0, 60, 141) 0%,
            rgb(0, 97, 191) 25%,
            rgb(1, 127, 214) 45%,
            rgb(54, 162, 230) 75%,
            rgb(117, 192, 241) 99%
        );
    }
    &.evening {
        background: linear-gradient(
            180deg,
            rgb(3, 4, 10) 0%,
            rgb(11, 7, 23) 5%,
            rgb(35, 18, 58) 20%,
            rgb(74, 34, 95) 35%,
            rgb(102, 46, 111) 47%,
            rgb(161, 78, 141) 60%,
            rgb(207, 121, 152) 67%,
            rgb(254, 178, 160) 75%,
            rgb(242, 149, 127) 80%,
            rgba(253, 146, 96, 1) 90%,
            rgba(253, 58, 95, 1) 100%
        );
    }
    &.night {
        background: rgb(0, 0, 0);
        background: linear-gradient(
            180deg,
            rgb(0, 1, 22) 0%,
            rgb(2, 4, 28) 10%,
            rgb(1, 7, 41) 30%,
            rgb(5, 23, 69) 50%,
            rgb(33, 50, 105) 75%,
            rgb(43, 54, 116) 90%,
            rgb(49, 55, 115) 95%,
            rgb(111, 93, 145) 100%
        );
    }
}

.app {
    height: 100vh;
    width: 100vw;
}
